*{
    background-color: rgb(231, 245, 240);
}
header{
    text-align: center;

}

.cabecera{
    color: palevioletred;
     font-style: italic;
   text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header>h1{
  
    color:rgb(162, 66, 98);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: x-large;
  
   width: 25%;
   height: 40px;
   margin-left: 225px;
   padding-bottom: 0px;
}
#menu{
padding: 2px;
 overflow: hidden;

  border: 4px dotted rgb(242, 222, 225);

}
#menu , .opcion, header>h1{ 
        background-color: rgb(241, 219, 238);
}
.opcion{
         display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    justify-content: center;
 
}