body {
    background-color: rgb(255, 216, 241);
}

header {
    text-align: center;
    padding: 0px 0;
      background-color: rgb(255, 216, 241);
   
    position: sticky;
    top: 0;
    
    z-index: 1000;
    border-bottom: 1px solid #ff69b4;
    perspective: 1000px;
}


.lateral {
    background-color: rgb(244, 192, 220);
    border: none;
    border-radius: 12px;
    box-shadow: 0 30px 25px rgba(241, 187, 217, 0.609);
    padding: 20px;
    width: 320px;
    height: 100%;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;

}

.pubIzq {
    position: relative;
    top: 1em;
    width: 75%;
    height: 250px;

    background-size: cover;
    transition: background-image 0.3s ease;
    background-image: url('img/isolate-90-cfm-1-8-kg.webp');
}


.blogFitness {
    padding: 40px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tituloBlog {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border-bottom: 3px solid #e956a4; 
    display: inline-block;
}


.contenedorBlog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}


.blogCard {
    background: #f27f9c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.blogCard:hover {
    transform: translateY(-5px);
}



.blogInfo {
    padding: 20px;
}


.tag {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}

.ejercicio, .dieta , .novedad{ background: #c35272; }


.postInfo h3 {
    margin: 15px 0 10px;
    font-size: 1.2rem;
}

.postInfo p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}

.botonLeer {
    display: inline-block;
    margin-top: 15px;
    background-color: #eb4799;
    color: #190b19;
    text-decoration: none;
    font-weight: bold;
}
.seccion-rutina {
    margin: 40px auto;
    max-width: 800px;
    padding: 0 20px;
}

.titulo-tabla {
    text-align: center;
    text-transform: uppercase;
    color: #1a1a1a;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


table {

    width: 100%;
    border-collapse: collapse;
    background-color: #dd9f9f;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


table thead {
    background-color: #1a1a1a; 
    color: #ffffff;
   text-transform: lowercase;
    font-size: 0.9rem;
}

.table th, 
.table td {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #eee;
}


.mision {
    font-weight: 500;
    color: #333;
}

.ejercicioTabla{
    color: #171415; 
    font-style: italic;
    font-weight: bold;
}

table  tr:hover  {
    background-color: #f384d2;
    transform: scale(1.01);
    transition: all 0.2s ease;
}


h2 {


    font-family: 'Arial Black', sans-serif;

    color: #ea41af;
    margin-bottom: 15px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
}

.lateral button {
    transition: background-color 0.4s;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}


.pubAbajo {
    position: relative;
    top: 1em;
    width: 75%;
    height: 250px;
    background-size: cover;
    transition: background-image 0.3s ease;
    background-image: url('img/images-EverydaySeamlessWashedCroppedTankGSSetsRedWASHB6B8Z_RCCJ_1108_V2_1920x.webp');
}

.pubAbajo:hover {
    background-image: url('img/images-EverydaySeamlessWashedCroppedTankGSSetsRedWASHB6B8Z_RCCJ_1119_V2_1920x.webp');

}



.cabecera {
    color: #eb4799;
    font-style: italic;
    margin-bottom: 25px;
    font-size: larger;
    height: 45px;
}

main {
    perspective: 1000px;
    align-items: stretch;
    margin-top: 120px;
}

#titulo {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
    font-family: 'Arial Black', sans-serif;
    font-size: 4.5em;
    color: #d15e75;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#menu {
    border-top: 1px solid rgba(255, 105, 180, 0.3);
    padding-top: 15px;
}

.opcion {

    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 0 115px;
    padding: 25px;
    justify-content: center;

}

.slide-fwd-center {
    animation: slide-fwd-center 1.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-fwd-center {
    0% {
        transform: translateZ(0);
    }

    100% {
        transform: translateZ(190px);
    }
}

.opcion>a {
    color: #ea41af;
}

.animacionTitulo {
    animation: saltito 1s infinite;
}

@keyframes saltito {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}


.opcion>a:hover {
    color: #2ed0d0;
    font-size: x-large;
    transform: scale(10.8);
    text-shadow: 9px 10px 5px rgba(255, 105, 180, 0.3);
}

main {
    margin-top: 2px;
    display: flex;
    align-items: stretch;
    width: 100%;

}

.contenido {

    margin-left: 5px;
    text-align: center;
    width: 60%;


    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1px;
    
    background: linear-gradient(135deg , rgb(97, 82, 84) 60%, rgb(221, 143, 204) 40%);
    line-height: 1.6;
    color: #151212;
    font-family: sans-serif;


}
.beneficios{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.benCard{
background: #d86e84;
border-radius: 12ppx;
padding: 2rem;
box-shadow: 0 4px 12px #151212;
flex: 11 250px;
transition: transform 0.3s ease , box-shadow 0.3s ease;

}
.benCard:hover{
transform: translateY(-8px)
}
