

.cont {
    border: #ff4d88 solid 1px;
    border-radius: 25px;
    background: #e98585;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    transform: translate3d(0, 0, 0);

}

.cont:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 8px rgba(225, 38, 166, 0.611);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contenedorAlta {
   
    text-align: center;
    gap: 15px;
}
.contenedorAlta p{
    font-style: oblique;
    font-size: 1.3em;
    color: #7c5050;
    margin:  auto;
    height: 25px;
    padding: 20px 25px;
    width: 20%;
    background-color: #e59d9d;
    margin-top: 5px;
    border-radius: 20px;
     transition: background-color 0.3s ease;
    
}
input:hover {
   
    border-color: #ff4d88;
    box-shadow: 0 0 5px rgba(255, 77, 136, 0.5);
}
.contenedorAlta:hover p{
    transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s;
  transform: scale(1.2);
    background-color: #ff4d88;
}
.optional {
    font-weight: normal;
    font-size: 0.85em;
    color: #7c5050;
}


