body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

.container {
    border: #ff4d88 solid 1px;
    border-radius: 25px;
    background: #e98585;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    transform: translate3d(0, 0, 0);

}
.container:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.603);
}
h2 {
    text-align: center;
    border-bottom: 2px solid #ff4d88;
    padding-bottom: 10px;
    color: #ff4d88;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}


.optional {
    font-weight: normal;
    font-size: 0.85em;
    color: #666;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #999;
    background: #e0e0e0;
}

.btn-submit {
    background-color: #ff4d88;
    color: white;
    border: none;
}

.btn-cancel {
    background-color: #f0f0f0;
}

.btn:hover {
    filter: brightness(0.9);
}